PORT=3000

DB_URL= mysql://root:test1234@mysql-academia:3306/academiaFSlab

#JWT
JWT_SECRET=fhregfrejhglfjrjewjflgreg99e8g6565r895w.69e58f8gf8g3f8g67665e58g89r898898f3dsfr46e8r6e56gr89895r64f
JWT_EXPIRATION=1d
JWT_EXPIRATION_RECUPERA_SENHA=30m

#variavel de debug
DEBUGLOG=true

HOST_SERVER_EMAIL=smtp.office365.com #servidor de email
PORT_SSL_EMAIL=587 # porta ssl do servidor de email
API_SEND_EMAIL=mensagens.fslab@hotmail.com  # email de envio
PASS_SEND_EMAIL= # senha do email de envio

LOGIN_ADMINISTRADOR_PADRAO = "dev@gmail.com"
SENHA_ADMINISTRADOR_PADRAO = "Dev@1234"

#minio
#MINIO_ENDPOINT = 'localhost'
#MINIO_PORT = 9000
#MINIO_ACCESS_KEY = 'ROOTUSER'
#MINIO_SECRET_KEY = 'CHANGEME123'
#MINIO_USE_SSL = false


#minio
MINIO_ENDPOINT = 'minio-levantamento-server'
MINIO_PORT = 9000
MINIO_ACCESS_KEY = 'levantamento'
MINIO_SECRET_KEY = 'zaq123edc'
MINIO_USE_SSL = false
